<form asp-controller="HangHoa" asp-action="Search" method="get" class="d-flex w-100">
    <input type="search"
           name="query"
           class="form-control border-0 p-3"
           placeholder="Tìm kiếm sản phẩm..."
           aria-label="Tìm kiếm sản phẩm">
    <button type="submit" class="btn btn-primary px-4">
        <i class="fa fa-search"></i>
    </button>
</form>
